@font-face {
font-family: 'Seravek Medium';
font-style: normal;
font-weight: normal;
src: local('Seravek Medium'), url('Seravek-Medium.woff') format('woff');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 
body {
    position: relative;
    font-family: 'Seravek Medium';
}

.aw-content {
    padding: 1.5rem;
/*   border: thick solid #f00; */
}

form {
    margin-bottom: 0.3rem;
    padding: 1.2rem;
    border: thick solid #ccc;
    background: #eee;
    font-size: 1.2rem;
    display:inline-block;
}
 
label {
    width: 13rem;
    display: inline-block;
}

.aw-center-text {
  text-align: center;
  font-size: 1.2rem;
}
 
input {
    border: thin solid #ccc;
    font-size: 1.2rem;
}

button {
    padding: 0.6rem;
    font-size: 1.5rem;
    font-weight: 100;
    background: var(--aw-theme-color);
    color: white;
    border: none;
}
 
div.form-element {
    margin: 1.3rem 0;
}

.aw-top-header {
    position: relative;
    background-color: var(--aw-theme-color);
    overflow: hidden;
    z-index: 2;
}

.aw-logo {
	padding: 0.3rem;
}

.aw-right {
	float: right !important;
}

.aw-center {
	float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

.aw-header-font {
  font-size: 2rem;
  color: #ffffff;
}

.aw-wide {
	letter-spacing: 0.3rem;
}

/* Add a black background color to the top navigation */
.topnav {
	position: relative;
	z-index: 2;
  background-color: #000;
  overflow: hidden;
  width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #fff;
  text-align: center;
  padding: 0.8rem 1rem;
  text-decoration: none;
  font-weight: bold;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: var(--aw-theme-color);
  color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: var(--aw-theme-color);
  color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

.aw-success-message {
  font-size: 1.2rem;
  background-color: #aaffaa;
  border-radius: 25px;
  display:inline-block;
  border: thin solid #ccc;
  margin: 0 0 1rem 0;
}

.aw-error-message {
  font-size: 1.2rem;
  background-color: #ffaaaa;
  border-radius: 25px;
  display:inline-block;
  border: thin solid #ccc;
  margin: 0 0 1rem 0;
}

.aw-info-message {
  font-size: 1.2rem;
  background-color: #ffffaa;
  border-radius: 25px;
  display:inline-block;
  border: thin solid #ccc;
  margin: 0 0 1rem 0;
}


.aw-cb-container {
  display: block;
  position: relative;
  padding-left: 2.2rem;
  margin-top: 0.8rem;
  cursor: pointer;
  font-size: 1.2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.aw-cb-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.aw-cb-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5rem;
  width: 1.5rem;
  background-color: #fff;
}

/* On mouse-over, add a grey background color */
.aw-cb-container:hover input ~ .aw-cb-checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.aw-cb-container input:checked ~ .aw-cb-checkmark {
  background-color: var(--aw-theme-color);
}

/* Create the checkmark/indicator (hidden when not checked) */
.aw-cb-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.aw-cb-container input:checked ~ .aw-cb-checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.aw-cb-container .aw-cb-checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media screen and (max-width: 600px) {

  .aw-center {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}

.aw-tabelle {
  margin: 0 0 40px 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: table;
}
@media screen and (max-width: 580px) {
  .aw-table {
    display: block;
  }
}

.aw-row {
  display: table-row;
  background: #f6f6f6;
}
.aw-row:nth-of-type(odd) {
  background: #e9e9e9;
}
.aw-row.aw-header {
  font-weight: 900;
  color: #ffffff;
  background: #ea6153;
}
.aw-row.aw-theme {
  background: var(--aw-theme-color);
}
@media screen and (max-width: 580px) {
  .aw-row {
    padding: 14px 0 7px;
    display: block;
  }
  .aw-row.aw-header {
    padding: 0;
    height: 6px;
  }
  .aw-row.aw-header .aw-cell {
    display: none;
  }
  .aw-row .aw-cell {
    margin-bottom: 10px;
  }
  .aw-row .aw-cell:before {
    margin-bottom: 3px;
    content: attr(data-title);
    min-width: 98px;
    font-size: 10px;
    line-height: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #969696;
    display: block;
  }
}

.aw-cell {
  padding: 6px 12px;
  display: table-cell;
}
@media screen and (max-width: 580px) {
  .aw-cell {
    padding: 2px 16px;
    display: block;
  }
}