@font-face {
font-family: 'Seravek Medium';
font-style: normal;
font-weight: normal;
src: local('Seravek Medium'), url('Seravek-Medium.woff') format('woff');
}

body {
    font-family: 'Seravek Medium';
}

.jumbotron {
  background-image: url("../img/logo-header.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0 !important;
}

.page-item.active .page-link {
    background-color: var(--purple);
    border-color: var(--purple);
}

.page-link {
    color: var(--purple);
}

.dropdown-menu-right {
    right: 0;
    left: auto;
}
