@font-face {
font-family: 'Seravek Medium';
font-style: normal;
font-weight: normal;
src: local('Seravek Medium'), url('Seravek-Medium.woff') format('woff');
}

body {
    font-family: 'Seravek Medium';
}

.jumbotron {
  background-image: url("../img/logo-header.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0 !important;
}

.page-item.active .page-link {
    background-color: var(--purple);
    border-color: var(--purple);
}

.page-link {
    color: var(--purple);
}

@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    background:#ecf0f1;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -40%;
  }

  .row-offcanvas-left.active {
    left: 40%;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 40%;
    margin-left: 12px;
  }
}

#sidebar {
    padding:15px;
    margin-top:10px;
}
